extends ../layout
block content
  div.container
    div(class='panel panel-default')
      div(class='panel-heading')
        h3 #{title}
      div(class="panel-body")
        table(class="table")
          thead
            tr
              th Device ID
              th owner
              th Online
              th Detail
          tbody
            for dev in devices
              tr
                td #{dev.devid}
                td #{dev.owner}
                td #{dev.online}
                td 
                  a(href="/devices/#{dev.devid}", class="btn btn-primary", role="button") Detail
        br
        a(href="/device/create", class="btn btn-primary", role="button") create